---
import BlogLayout from '@/layouts/BlogLayout.astro'

import { getCollection } from 'astro:content'
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props
const { Content, remarkPluginFrontmatter } = await entry.render()

const date = entry.data.pubDate.toLocaleDateString('es-ES', {
  day: 'numeric',
  month: 'long',
  year: 'numeric'
})
---

<BlogLayout
  frontmatter={entry.data}
  slug={entry.slug}
>
  <header class='mx-auto max-w-[65ch]'>
    <h1 class='text-pretty text-2xl'>{entry.data.title}</h1>
    <time
      datetime={date}
      data-title={date}
      class='text-sm text-secondary'
      >{date}</time
    >
    <img
      src={entry.data.image.url}
      alt={entry.data.title}
      class='mt-6 aspect-video w-full rounded-lg'
    />
  </header>
  <section
    class='sl-markdown-content prose mx-auto w-full dark:prose-invert prose-p:text-pretty prose-pre:w-full prose-img:rounded-xl'
  >
    <Content />
  </section>
</BlogLayout>
<style>
  /* Custom styles for heading anchor links. */
  .sl-markdown-content :global(.heading-wrapper) {
    --icon-size: 1.4em;
    --icon-spacing: 0.5em;
    line-height: var(--sl-line-height-headings);
    display: flex;
  }

  .sl-markdown-content :global(.heading-wrapper > :first-child) {
    margin: 0;
  }

  .sl-markdown-content :global(.anchor-link) {
    color: var(--sl-color-gray-3);
    display: flex;
    align-items: center;
    margin-left: 0.75em;
  }
  .sl-markdown-content :global(.anchor-link:hover),
  .sl-markdown-content :global(.anchor-link:focus) {
    color: var(--sl-color-text-accent);
  }
  .sl-markdown-content :global(.heading-wrapper svg) {
    display: inline;
    width: var(--icon-size);
  }

  @media (hover: hover) {
    .sl-markdown-content :global(.anchor-link) {
      opacity: 0;
    }
  }
  .sl-markdown-content :global(.heading-wrapper:hover > .anchor-link),
  .sl-markdown-content :global(.anchor-link:focus) {
    opacity: 1;
  }

  /* Float anchor links to the left of headings on larger screens. */
  @media (min-width: 95em) {
    .sl-markdown-content :global(.heading-wrapper) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: var(--icon-spacing);
      margin-inline-start: calc(-1 * (var(--icon-size) + var(--icon-spacing)));
    }
    .sl-markdown-content :global(.heading-wrapper > :first-child),
    .sl-markdown-content :global(.anchor-link) {
      margin: 0;
    }
  }
</style>
