---
import { basics } from '@cv'
import Section from '@/components/Section.astro'
import Contact from '@/icons/Contact.astro'
import Phone from '@/icons/Phone.astro'
import X from '@/icons/X.astro'
import LinkedIn from '@/icons/LinkedIn.astro'
import GitHub from '@/icons/GitHub.astro'
import WorldMap from '@/icons/WorldMap.astro'
import type { SocialIcon } from '@/types'
import Twitch from '@/icons/Twitch.astro'

const { name, label, image, location, profiles, phone, email } = basics
const { city, region } = location

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
  Twitch
}

const linkedInfo = profiles.find(({ network }) => network === 'LinkedIn')
const linkedUrl = linkedInfo?.url
const siteUrl = Astro.site

const printInfo = [email, siteUrl, linkedUrl].filter(Boolean).join(' • ')
---

<Section>
  <div class='flex flex-col-reverse items-center justify-center gap-4 text-center sm:flex-col'>
    <figure>
      <img
        src={image}
        alt={name}
      />
    </figure>
    <div class='flex flex-col items-center justify-center gap-4'>
      <h1>{name}</h1>
      <h2 class='text-balance text-secondary sm:text-pretty'>{label}</h2>
      <span class='text-secondary'>
        <WorldMap />
        {city}, {region}
      </span>
      <footer class='hidden text-sm text-secondary print:flex'>
        {printInfo}
      </footer>
      <footer class='mt-2 flex gap-6 text-sm text-secondary print:hidden'>
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target='_blank'
              rel='noopener noreferrer'
              data-tippy-content='Contacto'
              data-tippy-placement='bottom'
            >
              <Contact />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              target='_blank'
              rel='noopener noreferrer'
            >
              <Phone />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network]

            return (
              <a
                href={url}
                title={`Visitar el perfil de ${name} en ${network}`}
                target='_blank'
                rel='noopener noreferrer'
                data-tippy-content={network}
                data-tippy-placement='bottom'
              >
                <Icon class='w-6' />
              </a>
            )
          })
        }
      </footer>
    </div>
  </div>
  <div class='mt-6 flex items-center justify-center gap-4 print:hidden'>
    <span class='relative flex h-4 w-4 items-center justify-center'>
      <span
        class='absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75'
      ></span>

      <span class='relative inline-flex h-2 w-2 rounded-full bg-green-500'></span>
    </span>
    <p class='text-sm text-secondary sm:text-base dark:text-prose'>
      Disponible para nuevos proyectos.
    </p>
  </div>
  <!--
  <div class='mt-6 flex flex-col items-center justify-center gap-1 sm:flex-row sm:gap-4'>
    <a
      href='/Portafolio Aaron.pdf'
      class='inline-flex w-64 grow items-center justify-center rounded-lg border bg-secondary py-2 text-white transition dark:border-primary dark:bg-secondary dark:hover:bg-hover'
      target='_blank'
      rel='noopener noreferrer'
      >Descarga mi currículum</a
    >
    o

    <a
      class='inline-flex w-64 grow items-center justify-center rounded-lg border bg-[#f8f8f8] py-2 text-black transition dark:border-primary dark:bg-white dark:hover:bg-[#f8f8f8]'
      href={`mailto:${email}`}
      download
      >Contacta conmigo</a
    >
  </div> -->
</Section>

<style>
  h1 {
    font-size: 2rem;
    width: fit-content;
  }
  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 128px;
    border-radius: 100%;
  }

  span {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
  }

  footer {
    gap: 24px;
    margin-top: 8px;
  }

  footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 32px;
    width: 32px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    color: #eee;
  }
</style>
