---
import { basics } from '@cv'
import Section from '@/components/Section.astro'
import Contact from '@/icons/Contact.astro'
import Phone from '@/icons/Phone.astro'
import X from '@/icons/X.astro'
import LinkedIn from '@/icons/LinkedIn.astro'
import GitHub from '@/icons/GitHub.astro'
import WorldMap from '@/icons/WorldMap.astro'
import type { SocialIcon } from '@/types'
import Twitch from '@/icons/Twitch.astro'

const { name, label, image, location, profiles, phone, email } = basics
const { city, region } = location

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
  Twitch
}

const linkedInfo = profiles.find(({ network }) => network === 'LinkedIn')
const linkedUrl = linkedInfo?.url
const siteUrl = Astro.site

const printInfo = [email, siteUrl, linkedUrl].filter(Boolean).join(' • ')
---

<Section>
  <div
    class='flex flex-col items-center justify-center gap-4 text-center sm:flex-col'
  >
    <figure>
      <img
        src={image}
        alt={name}
        class='aspect-square w-28 rounded-full object-cover'
      />
    </figure>
    <div class='flex flex-col items-center justify-center gap-4'>
      <h1 class='w-fit text-2xl'>{name}</h1>
      <h2 class='text-balance text-secondary'>{label}</h2>

      <footer class='hidden text-sm text-secondary print:flex'>
        {printInfo}
      </footer>
      <footer class='mt-2 flex gap-6 text-sm text-secondary print:hidden'>
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network]

            return (
              <a
                href={url}
                title={`Visitar el perfil de ${name} en ${network}`}
                target='_blank'
                rel='noopener noreferrer'
                data-tippy-content={network}
                data-tippy-placement='bottom'
              >
                <Icon class='w-6' />
              </a>
            )
          })
        }
      </footer>
    </div>
  </div>
  <div class='mt-8 flex flex-col items-center justify-center gap-4'>
    <div class='mt-0 flex items-center justify-center gap-4 print:hidden'>
      <span class='relative flex h-4 w-4 items-center justify-center'>
        <span
          class='absolute inline-flex h-full w-full animate-ping rounded-full bg-emerald-400 opacity-75'
        ></span>

        <span class='relative inline-flex h-2 w-2 rounded-full bg-emerald-500'
        ></span>
      </span>
      <p class='text-sm text-secondary sm:text-base dark:text-prose'>
        Disponible para nuevos proyectos.
      </p>
    </div>
    <div
      class='mx-auto flex w-full flex-col items-center justify-center gap-1 text-sm sm:max-w-[80%] sm:flex-row sm:gap-4'
    >
      <a
        class='flex w-full grow items-center justify-center gap-2 rounded-lg border bg-[#f8f8f8] py-2 text-black transition dark:border-primary dark:bg-white dark:hover:bg-[#f8f8f8]'
        href='/contacto'
        >Contacta conmigo <Contact class='w-4 text-[#707070]' /></a
      >
      <span class='text-secondary'>o</span>
      <a
        href='/Portafolio Aaron.pdf'
        class='flex w-full grow items-center justify-center rounded-lg border bg-[#f8f8f8] py-2 transition dark:border-primary dark:bg-secondary dark:hover:bg-hover'
        target='_blank'
        rel='noopener noreferrer'>Descarga mi currículum</a
      >
    </div>
    <span class='flex items-center gap-1 text-sm text-secondary'>
      <WorldMap />
      {city}, {region}
    </span>
  </div>
</Section>

<style>
  footer {
    gap: 24px;
    margin-top: 0px;
  }

  footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 32px;
    width: 32px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    color: #eee;
  }
</style>
