---
import Fixed from '@/icons/Fixed.astro'
import Clock from '@/icons/Clock.astro'

const { post } = Astro.props
const { remarkPluginFrontmatter } = await post.render()

const date = post.data.pubDate.toLocaleDateString('es-ES', {
  day: 'numeric',
  month: 'long',
  year: 'numeric'
})
---

<article
  transition:name={post.slug}
  class='relative rounded-lg bg-[#f8f8f8] transition dark:bg-secondary dark:hover:bg-hover'
>
  <a href={`/blog/${post.slug}`} class='absolute h-full w-full'>
    <span class='sr-only'>{post.data.title}</span></a
  >
  <div class='flex flex-col justify-between gap-4 text-pretty p-4'>
    <header class='flex items-center justify-between'>
      <h2>{post.data.title}</h2>
      {post.data.fixed && <Fixed />}
    </header>
    <p class='line-clamp-2 text-sm text-prose'>{post.data.description}</p>
    <footer class='flex items-center justify-between text-sm text-muted'>
      <time datetime={date} data-title={date}>
        {date}
      </time>
      <div class='flex items-center gap-2 text-sm'>
        <span>{remarkPluginFrontmatter.minutesRead} min</span>
        <Clock />
      </div>
    </footer>
  </div>
</article>
