---
import Fixed from '@/icons/Fixed.astro'
import Views from './Views.tsx'

const { post } = Astro.props
---

<article class='relative rounded-lg bg-[#f8f8f8] transition dark:bg-secondary dark:hover:bg-hover'>
  <a
    href={`/blog/${post.slug}`}
    class='absolute h-full w-full'
  >
    <span class='sr-only'>{post.data.title}</span></a
  >
  <div class='flex flex-col justify-between gap-4 text-pretty p-4'>
    <header class='flex items-center justify-between'>
      <h2>{post.data.title}</h2>
      {post.data.fixed && <Fixed />}
    </header>
    <p class='line-clamp-2 text-sm text-neutral-400'>{post.data.description}</p>
    <footer class='flex justify-between text-sm text-neutral-300'>
      {
        post.data.pubDate.toLocaleDateString('es-ES', {
          day: 'numeric',
          month: 'long',
          year: 'numeric'
        })
      }
      <div class='flex items-center'>
        <Views
          slug={post.slug}
          client:load
        />
      </div>
    </footer>
  </div>
</article>
